.theme-color {
  color: #444444;
  fill: #444444;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  pointer-events: none;
}


.tooltip {   
  opacity: 0;   
}

.axis line,
.axis path {
    stroke: #ffffff;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

.dot {
    transition: fill 0.3s, r 0.3s;
}

.dot:hover {
    fill: #ff7f0e; /* highlight color */
    r: 6; /* larger radius on hover */
}

.tooltip {
    transition: opacity 0.3s;
}

/* Loader Styling */
#loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

#loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}


/* Add any additional styles for text, colors, etc. */
.title-text{
  font-size: 42px;
  font-weight: bold;
  color: #444444
}

.vis-title{
  font-size: 24px;
  font-weight: bold;
  color: #555555
}

.highlight-text{
  color: #08ac4c;
}

span {
  font-weight: bold;
  color: #888888
}